<!DOCTYPE html>
<html>
<head>
<title>Code4Food</title>
<link rel="stylesheet" type= "text/css"href="HomePage.css">
</head>

<body>
<img class="image1" src = "http://www6.0zz0.com/2015/02/18/01/714745063.jpg" width="250" height="250">
<p style="font-family:verdana" ,style="text-align:center"><i><em><b>Connecting Logic, Making Magic!</b></em></i></p>
<div id="menu">
<ul><br>
   <li><a href="<%= url_for controller: 'welcome', action: 'HomePage' %>">Home</a></li>

        <li><a href="<%= url_for controller: 'articles', action: 'index' %>">Blog</a></li>
        <li><a href="<%= url_for controller: 'welcome', action: 'Team' %>">Team</a></li>
               <li><a href="<%= url_for controller: 'welcome', action: 'Projects' %>">Projects</a></li>
                      <li><a href="<%= url_for controller: 'welcome', action: 'Aboutus' %>">About us</a></li>
                             <li><a href="<%= url_for controller: 'welcome', action: 'Contactus' %>">Contact us</a></li>
                      

    </br>
    </ul>
    </div>
    <br><a href="https://www.facebook.com/pages/Code4Food/784144265008754"><img src="http://i58.tinypic.com/x2nzag.jpg" style="float: right; clear: left;"  height="42" width="42"></a>
    <a href="https://twitter.com/code4_food"><img src="http://i59.tinypic.com/jjph0x.jpg"style="float: right; clear: left;"  height="42" width="42"> </a></br>



<h2 style="font-size:250%"><center><br> WE CODE, WE DEVELOP, WE MAKE LIFE EASIER!</br> </center></h2>
<h3><u><i>About Code4Food</i></u>
</h3>
<p style="font-size: 16px">
Linking the Business requirements to the IT world, as we are business informatics students this gives us an edge to<br></br> 
come up with solutions that takes into consideration information technology (IT) and to use it effectively to achieve<br></br>
business objectives. Business-information technology alignment is the "holy grail" of organizations because it<br></br>
integrates the information technology to the strategy, mission, and goals of the organization.
</p>
</body>

</html>