<!DOCTYPE html>
<html>
<head>
<title>Code4Food</title>
<link rel="stylesheet" type= "text/css"href="HomePage.css">
</head>

<body>
<img class="image1" src = "http://www6.0zz0.com/2015/02/18/01/714745063.jpg" width="250" height="250">
<p style="font-family:verdana" ,style="text-align:center"><i><em><b>Connecting Logic, Making Magic!</b></em></i></p>
<div id="menu">
<ul><br>
   <li><a href="<%= url_for controller: 'welcome', action: 'HomePage' %>">Home</a></li>

   <li><a href="<%= url_for controller: 'articles', action: 'index' %>">Blog</a></li>
        <li><a href="<%= url_for controller: 'welcome', action: 'Team' %>">Team</a></li>
               <li><a href="<%= url_for controller: 'welcome', action: 'Projects' %>">Projects</a></li>
                      <li><a href="<%= url_for controller: 'welcome', action: 'Aboutus' %>">About us</a></li>
                             <li><a href="<%= url_for controller: 'welcome', action: 'Contactus' %>">Contact us</a></li>
                      

    </br>
    </ul>
    </div>
    <br><a href="https://www.facebook.com/pages/Code4Food/784144265008754"><img src="http://i58.tinypic.com/x2nzag.jpg" style="float: right; clear: left;"  height="42" width="42"></a>
    <a href="https://twitter.com/code4_food"><img src="http://i59.tinypic.com/jjph0x.jpg"style="float: right; clear: left;"  height="42" width="42"> </a></br>


<h1>
Current Projects
</h1>
<h2 style="font-size= 12px">
<u><i>Bride Website</i></u>
</h2>
<p style="font-size: 16px">
Every bride is face by a million choices before her big day, from the catering, the dress, to the

list of songs, decoration<br></br> choices and many other choice. Before the wedding, a typical bride 

would Google each item, searching pages and<br></br> pages trying to find what she needs. 

<b>The purpose of this project</b> is to create a website that can assist brides in their<br></br> choices and it 

would be containing a strong Database of information about everything a bride needs.
</p>

    </body>

</html>