<!DOCTYPE html>
<html>
<head>
<title>Code4Food</title>
<link rel="stylesheet" type= "text/css"href="HomePage.css">
</head>
<body>
<img class="image1" src = "http://www6.0zz0.com/2015/02/18/01/714745063.jpg" width="250" height="250">
<p style="font-family:verdana" ,style="text-align:center"><i><em><b>Connecting Logic, Making Magic!</b></em></i></p>
<div id="menu">
<ul><br>
    <li><a href="<%= url_for controller: 'welcome', action: 'HomePage' %>">Home</a></li>

  
  

        <li><a href="<%= url_for controller: 'articles', action: 'index' %>">Blog</a></li>
        <li><a href="<%= url_for controller: 'welcome', action: 'Team' %>">Team</a></li>
               <li><a href="<%= url_for controller: 'welcome', action: 'Projects' %>">Projects</a></li>
                      <li><a href="<%= url_for controller: 'welcome', action: 'Aboutus' %>">About us</a></li>
                             <li><a href="<%= url_for controller: 'welcome', action: 'Contactus' %>">Contact us</a></li>
                      
    </br>
    </ul>
    </div>
    <br><a href="https://www.facebook.com/pages/Code4Food/784144265008754"><img src="http://i58.tinypic.com/x2nzag.jpg" style="float: right; clear: left;"  height="42" width="42"></a>
    <a href="https://twitter.com/code4_food"><img src="http://i59.tinypic.com/jjph0x.jpg"style="float: right; clear: left;",  height="42" width="42"> </a></br>
    <a href="<%= url_for controller: 'welcome', action: 'AyaMagdyProfile' %>"><img src="http://i61.tinypic.com/22ydya.jpg" style="border-radius: 100%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'JalaAshrafProfile' %>"><img src="http://i58.tinypic.com/2d0flv7.jpg" style="border-radius: 100%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'MayadaTarekProfile' %>"><img src="http://i58.tinypic.com/15d6gc0.jpg"style="border-radius: 90%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'SalmaAdelProfile' %>"><img src="http://i60.tinypic.com/30i8gn4.jpg"style="border-radius: 100%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'HananGhannamProfile' %>"><img src="http://i60.tinypic.com/14llvfa.jpg"style="border-radius: 100%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'RanaAlaaProfile' %>"><img src="http://i61.tinypic.com/2is89kn.jpg"style="border-radius: 100%"></img><br></br></a>
    <a href="<%= url_for controller: 'welcome', action: 'DoniaMagdyProfile' %>"><img src="http://i57.tinypic.com/dewf8k.jpg"style="border-radius: 100%"></img><br></br></a>

</body>

</html>